<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Griya Cengkeh</title>
  <script defer src="{{chunk}}"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/public/client.css?v2.0" rel="stylesheet">
</head>
<body>
  <div class="app">
    {{{ssr}}}
  </div>
  <script src="/public/client.js?v2.0"></script>
</body>
</html>